*{
	box-sizing: border-box;
}

body{
	background-color: #EEF;
	margin: 0px;
	font-family: 'Unica One', cursive;

	background-color: #555;
	background-image: url("../assets/tlo3.jpg");
}

.belkaPionowa{
	width: 100%;
	margin-top: 2em;
	margin-bottom: 6em;
	background-color: #3A8C59CC;
	padding: 0.01em;
}
.belkaPionowa h1{
	margin: 0;
}

.belka__logo{
	font-weight: 800;
	font-size: 3rem;
	width: 20%;
	margin-left: 2em;
	color: white;
}

.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	gap: 2em;
	justify-content: center;
	flex-wrap: wrap;
}

.box{
	max-width: 600px;
	min-width: 400px;
	background-color: #2224;
	padding: 2em;
	color: white;
	border-top: double #2225 7px;
}

.box__zal{
	
	width: 80%;
	height: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1em;
}

.box__zal__imputki{
	height: 70%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.box__zal__imputki input{
	background-color: #FFED;
	color: #3A8C59;
	border-top: double #fff 2px; 
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 900;
	
}

.box__zal button{
	background-color: #3A8C59;
	color: white;
	font-size: 0.9rem;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0.5em;
	border-width:0;
	cursor: pointer;
	font-weight: 800;
	opacity: 0.9;
}

.box__zal button:hover{
	opacity: 1;
}

.box header{
	font-size: 2rem;
	margin-bottom: 1em;
	font-weight: 600;
}



a{
	text-decoration: none;
	color: white;
}