*{
	box-sizing: border-box;
}

body{
	background-color: #FFF;
	margin: 0;
	font-family: 'Unica One', cursive;
}

.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 2em;
}

.belka{
	width: 100%;
	
	margin: 0 auto;
	
	max-width: 1600px;
	background-color: #3A8C59;
	padding:1rem;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.belka__logo{
	font-family: 'Press Start 2P', cursive;
	width: 20%;
	text-align: center;
	color: white;
}

.belka_nav{
	width: 60%;
}

.belka_nav_ul{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.belka_nav_ul_menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom:  1.5em;
	gap: 3em;
	background-color: #3A8C5920;
	margin: 0;
}


.belka_nav_ul li{
	list-style: none;
	transition: 0.5s;
	cursor:pointer;
}

.belka_nav_ul_menu li{
	list-style: none;
	cursor:pointer;
}

.belka_nav_ul li:hover{
	letter-spacing: 0.1em;
	
}

.li_wybrana{
	font-weight: 700;
}

.belka_przycisk{
	display: none;
	text-align: right;
	width: 60%;
}

.nav_przedkliku{
	display: none;
}

.nav_pokliku{
	display: block;
}

.text--naglowkowy{
	width: 100%;
	font-size: 3rem;
	
	margin-top: 2em;
	margin-bottom: 1em;
}

.text--prawy{
	text-align: right;
}

.text--lewy{
	text-align: left;
}

.container__polecane__flex{
	width:100%;
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.flex__box{
	width: 10em;
	height: 15em;
	
	padding: 0.5em;
	
	border-color: #111;
	border-style: solid;
	overflow:hidden;
	
	display: flex;
	flex-direction: column;
	
	gap: 2rem;
	cursor: pointer;
}

.flex__box__line{
	width: 45%;
	margin-left: 27%;
	height: 1px;
	background-color: #000;
}

.flex__box__title{
	font-weight: 700;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}


.container__topNews{
	display:flex;
	flex-wrap: wrap;
}

.topNews__article{
		width: 100%;
		border-style: solid none solid none;
		border-width: 0.1em;
		padding: 1em;
		
		display:flex;
		gap: 3em;
		flex-wrap: wrap;
		justify-content: space-between;
		min-width: 20em;
}

.topNews__article_Top{
		border-style: solid none solid none;
}

.topNews__article_Left{
		border-style: none dotted none none;
}

.topNews__article__50{
	width: 50%;
}

.topNews__article__Column{
	flex-direction: column;
}


.topNews__article__Img__Half{
	width: 44%;
	min-width: 15em;
}

.topNews__article__Img__Full{
	width: 100%;
}

.topNews__article__Header_Img{
	background-image: url("../assets/tlo.jpg");
	height: 100%;
	color:white;
	padding-top: 5rem;
}

.topNews__article__Header{
	font-size: 3.5rem;
	font-weight: 800;
	text-align:right;
	width: 44%;
}

.topNews__article__Header__Full{
	text-align:center;
	width: 100%;
}

.ytContainer{
	background-color: #600707;
	background-image: url("../assets/tloYT.png");
	color: white;
	margin-top: 10em;
	overflow:hidden;
}

.ytContainer_title{
	font-weight: 900;
	font-size: 4rem;
	text-align: center;
	margin: auto 0;
	border-bottom: solid;
	padding: 0.2em;
}

.ytContainer__div{
	width: 80%;
	max-width: 40em;
	margin: 0 auto;
	overflow:hidden;
	padding: 4em;
	
}
.proba{
	position: relative;
	width: 100%;
	height: 100%;
}

.ytContainer_div__img__hoverEfect{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	background-color: #010A;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight:700;
	font-size: 4rem;
	opacity: 0;
	transition: 0.5s;
	cursor: pointer;
}

.ytContainer_div__img__time{
	position: absolute;
	font-weight:700;
	font-size: 1.3rem;
	right: 0.5em;
	bottom: 0.5em;
}

.ytContainer_div__header{
	font-size: 3rem;
	width: 100%;
	text-align: center;
	margin-top: 1em;
}

.ytContainer_div__img{
	width:100%;
	
}

.ytContainer_div__img__hoverEfect:hover{
	opacity: 100%;
}

.piosenka__container{
	width: 80%;
	margin: 0 auto;
	
	display: flex;
	justify-content: center;
	align-items:center;
}

.piosenka__container_60{
	width: 100%;
	overflow: hidden;
	
	background-image: url("../assets/piosenka.jpg");
	background-color: #222;
	background-position: center;
	height:100%;
}

.piosenka__container_40{
	width: 40%;
	height:100%;
		background-color: black;
		
	display: flex;
	flex-direction: column;
	
	border: 0.1rem solid #222;
	gap: 2rem;
	
}

.piosenka__container__header{
	font-size: 4rem;
	font-weight: 800;
	
	width: 100%;
	background-color: white;
	padding: 0.5rem;
}

.piosenka__container__p{
	width: 100%;
	font-size: 1.5rem;
	background-color: black;
	color:white;
	text-align: justify;
	padding:1rem;
}

a{
	text-decoration: none;
	color: white;
}

footer{
	width: 100%;
	height: 10rem;
	background-color: #3A8C59;
	display:flex;
	align-items:center;
	justify-content: center;
}

@media screen and (max-width: 900px){
	.belka_nav{
		display: none;
	}
	
	.belka__logOut{
		display: none;
	}
	
	.belka_przycisk{
		display: block;
	}
}